---
import { getCollection } from "astro:content";
import PostCard from "../PostCard.astro";
import Section from "./Section.astro";

const posts = await getCollection("blog");

const t = Astro.locals.t.home.posts;

const postsByLang = posts.filter(
    (post) => post.data.language === Astro.locals.lang,
);

const sortedPostsByDate = postsByLang.sort(
    (a, b) =>
        new Date(b.data.publishedDate).getTime() -
        new Date(a.data.publishedDate).getTime(),
);
---

<Section id="posts" title={t.title}>
    <div id="posts-list">
        {
            sortedPostsByDate.length ? (
                sortedPostsByDate
                    .slice(0, 4)
                    .map((post) => (
                        <PostCard
                            id={post.data.id}
                            title={post.data.title}
                            description={post.data.description}
                            publishedDate={post.data.publishedDate}
                        />
                    ))
            ) : (
                <p>{t.noPosts}</p>
            )
        }
    </div>
</Section>

<style>
    #posts-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 15rem;
        gap: 24px;
    }

    @media (max-width: 700px) {
        #posts-list {
            grid-template-columns: auto;
        }
    }
</style>
