---
import Section from "./Section.astro";
import ProjectCard from "../ProjectCard.astro";
import AstroIcon from "../icons/AstroIcon.astro";
import GolangIcon from "../icons/GolangIcon.astro";
import TechStackProject from "../TechStackProject.astro";

const t = Astro.locals.t.home.projects;
---

<Section id="projects" title={t.title}>
    <p>{t.title}</p>
    <div>
        <ProjectCard
            title={t.first.title}
            description={t.first.param}
            working_on={true}
            github_url="https://github.com/aperezgdev/api-projeclyze"
        >
            <TechStackProject slot="tech-stack" technology="Golang">
                <GolangIcon width="18px" height="18px" />
            </TechStackProject>
        </ProjectCard>
        <ProjectCard
            title={t.second.title}
            description={t.second.param}
            image="/porfolio-capture.webp"
            working_on={false}
            project_url="https://www.aperezg.dev"
            github_url="https://www.github.com/aperezgdev/aperezg.dev"
        >
            <TechStackProject slot="tech-stack" technology="Astro">
                <AstroIcon width="18px" height="18px" />
            </TechStackProject>
        </ProjectCard>
    </div>
</Section>

<style>
    div {
        flex-direction: column;
        display: flex;
        gap: 16px;
    }
</style>
